<div class="data-table-container mat-elevation-z8">

    <mat-table [dataSource]="storiesDataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.author}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Score </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.score}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;">
      </mat-row>
    </mat-table>
  </div>
